.cstm_card {
	width: 40%;
	margin: auto;
	background: url('../../assets/images/checkout-background.png');
	background-size: cover;
	box-shadow: 0px 12px 44px rgba(20, 20, 43, 0.34);
	border-radius: 32px !important;
	border-color: #ffffff !important;
	margin-top: 10%;
}
.checkout_failure_heading {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 25px;
	/* identical to box height, or 78% */
	text-align: center;
	color: #222222;
}
.cstm_card p {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 25px;
	/* or 179% */
	text-align: center;
	color: #666666;
}
.cstm_card p a {
	color: #ff6f00;
	text-decoration: none;
}
.close {
	cursor: pointer;
}

.eye {
	position: absolute;
	right: 5%;
	top: 25%;
	font-size: 20px;
	cursor: pointer;
	color: #989898;
}
.login_form .input_password_icon {
	position: absolute;
	top: 12px;
	left: 5px;
}
.login_form .email_input,
.login_form .password_input {
	box-sizing: border-box;
	background: #f9f9f9;
	border: 1px solid #cccccc;
	border-radius: 5px;
	height: 48px;
	padding-left: 25px;
}

.login_form .password_label {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 122.69%;
	/* identical to box height, or 20px */
	letter-spacing: 0.015em;
	color: #666666;
}
.login_form .password_input:focus {
	box-shadow: none !important;
	border: 1px solid #cccccc !important;
}

.login_form .password_input::placeholder {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 122.69%;
	/* or 17px */
	letter-spacing: 0.015em;
	color: #c8c8c8;
}

.login_form .btn_login {
	background: #ef6725;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 10px;
	/* identical to box height, or 62% */
	text-align: center;
	height: 48px;
	width: 100%;
	color: #ffffff;
}

.login_form .btn_login:hover {
	background: #ef6725;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 10px;
	/* identical to box height, or 62% */
	height: 48px;
	text-align: center;
	color: #ffffff;
	width: 100%;
}
@media only screen and (max-width: 768px) {
	.cstm_card {
		width: 90%;

	}
}