.navbar {
    background-color: #fff !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
}

.navbar_search_form button {
    position: absolute;
    right: 5px;
    top: -5px;
    border: 0px !important;
}

.navbar_search_form {
    width: 40%;
    margin-left: auto;
}

.navbar_search_form input {
    background: #FFFFFF !important;
    border: 1px solid #DADADA !important;
    border-radius: 100px !important;
    outline: 0px !important;
    box-shadow: none !important;
    color: #848484;
    font-size: 10px;
    height: 31px;
}

.profile_dropdown::after {
    /* content: url('../../assets/images/caret-down.svg') !important; */
    /* border: 0px !important;
    vertical-align: 0px !important; */
}

.profile_dropdown {
    border: 0px !important;
}

.notification_image{
    cursor: pointer;
}

.profile_dropdown_menu {
    left: -121px !important;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.profile_dropdown_menu li a {
    color: #6B6B6B;
    font-size: 14px;
    border-bottom: 1px solid rgba(217, 217, 217, 0.2);
    line-height: 20px;
}